@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Jua:regular);

#box{width: 1000px;margin: 0 auto;font-size: 30px;font-family: Jua;font-weight: 700;}
#box p{background-image: linear-gradient(-135deg,  #f85032 0%,#ffb135 15%,#e1ed44 35%,#00d34a 60%,#1477ce 80%,#a624d6 100%);color: transparent;-webkit-background-clip: text;background-clip: text;} /* -135deg와 225deg는 동일함 */